@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 143 48% 10%; /* Dark green */
    --card: 0 0% 100%;
    --card-foreground: 143 48% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 143 48% 10%;
    --primary: 143 61% 41%; /* Forest green */
    --primary-foreground: 0 0% 100%;
    --secondary: 142 33% 95%;
    --secondary-foreground: 143 48% 10%;
    --muted: 142 33% 95%;
    --muted-foreground: 143 20% 44%;
    --accent: 142 33% 95%;
    --accent-foreground: 143 48% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 143 24% 86%;
    --input: 143 24% 86%;
    --ring: 143 61% 41%;
    --chart-1: 120 50% 50%;
    --chart-2: 150 50% 50%;
    --chart-3: 180 50% 50%;
    --chart-4: 210 50% 50%;
    --chart-5: 240 50% 50%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 143 48% 10%; /* Dark green */
    --foreground: 0 0% 100%; /* White */
    --card: 143 48% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 143 48% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 100%; /* White */
    --primary-foreground: 143 48% 10%; /* Dark green */
    --secondary: 143 55% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 143 55% 20%;
    --muted-foreground: 143 28% 64%;
    --accent: 143 55% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 143 55% 20%;
    --input: 143 55% 20%;
    --ring: 0 0% 83.1%;
    --chart-1: 120 50% 50%;
    --chart-2: 150 50% 50%;
    --chart-3: 180 50% 50%;
    --chart-4: 210 50% 50%;
    --chart-5: 240 50% 50%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


